@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Quicksand:wght@400;700&display=swap');

body {
    font-family: Lato, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    width: 300px;
    margin: 0 550px;
}

header img {
    float: left;
}

header h1 {
    position: relative;
    top: 10px;
    left: 10px;
}

nav {
    width: 300px;
    margin: 0 550px;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 20px;
    color: #000;
    text-decoration: none;
}

main {
    width: 750px;
    margin: 40px 370px;
}

section {
    width: 500px;
    height: auto;
    margin: 40px 100px;
    background-color: #F6F6F9;
    border-radius: 20PX;
    padding: 20px;
}

section h2 {
    font-size: 19px;
}

#inputNovaTarefa {
    font-family: Lato, sans-serif;
    padding: 0 10px;
    width: 380px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #0CCBDE;
}

#btnNovaTarefa {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 25px;
    background-color: #0CCBDE;
    color: #FFF;
}

#btnNovaTarefa:hover {
    transform: scale(1.1);
}

#listaTarefas ul {
    padding: 0;
    margin: 0;
}

#listaTarefas li {
    list-style: none;
    padding: 20px 10px;
    margin: 20px;
    border-radius: 10px;
    background-color: #FFF;
}

#listaTarefas li:hover {
    background-color: #0CCBDE;
    color: #FFFFFF;
}

